type firmware_device, dev_type;
type ftma_block_device, dev_type;
type ftmd_block_device, dev_type;
type lta_label_block_device, dev_type;
type ta_block_device, dev_type;
