type_transition mm-qcamerad system_data_file:sock_file camera_socket "cam_socket0";
allow mm-qcamerad camera_device:chr_file { ioctl open read write };
allow mm-qcamerad system_file:file execmod;
allow mm-qcamerad system_data_file:dir { add_name remove_name write };
