type mpdecision_data_file, dev_type;

allow mpdecision mpdecision_data_file:dir { add_name write };
allow mpdecision mpctl_data_file:file { append open };
allow mpdecision socket_device:sock_file setattr;

