type ctl_location_mq_prop, property_type;
type ctl_lowi-server_prop, property_type;
type ctl_quipc_igsn_prop, property_type;
type ctl_quipc_main_prop, property_type;
