allow qti_init_shell sysfs_devices_system_cpu:file setattr;
allow qti_init_shell ctl_default_prop:property_service set;
allow qti_init_shell ctl_location_mq_prop:property_service set;
allow qti_init_shell ctl_lowi-server_prop:property_service set;
allow qti_init_shell ctl_quipc_main_prop:property_service set;
