allow qti_init_shell sysfs_devices_system_cpu:file setattr;
set_prop(qti_init_shell, ctl_default_prop)
set_prop(qti_init_shell, ctl_location_mq_prop)
set_prop(qti_init_shell, ctl_lowi-server_prop)
set_prop(qti_init_shell, ctl_quipc_main_prop)
