allow sysinit cgroup:dir { create add_name };
allow sysinit kernel:process setsched;
allow sysinit labeledfs:filesystem remount;
allow sysinit mmc_block_device:blk_file getattr;
allow sysinit rootfs:file { execute execute_no_trans };
allow sysinit sysfs:file write;
allow sysinit sysfs_lowmemorykiller:file write;
