type taimport, domain;
type taimport_exec, exec_type, file_type;
init_daemon_domain(taimport)

allow taimport self:capability { setgid dac_override };
allow taimport tad:unix_stream_socket connectto;
allow taimport tad_socket:sock_file rw_file_perms;
