type taimport, domain;
type taimport_exec, exec_type, file_type;
init_daemon_domain(taimport)

allow taimport system_data_file:dir { add_name create write };
allow taimport tad:unix_stream_socket connectto;
allow taimport tad_socket:sock_file write;
