[access "refs/heads/*"]
	create = group SEMC Maintainers
	create = group Sony 8930
	push = group SEMC Maintainers
	push = group Sony 8930
	label-Code-Review = -2..+2 group SEMC Maintainers
	label-Code-Review = -2..+2 group Sony 8930
	label-Verified = -1..+1 group SEMC Maintainers
	label-Verified = -1..+1 group Sony 8930
	submit = group SEMC Maintainers
	submit = group Sony 8930
[submit]
	action = rebase if necessary
[access]
	inheritFrom = CyanogenMod/android_device_sony_fuji-common
