on enable-low-power
    write /sys/module/rpm_resources/enable_low_power/L2_cache 1
    write /sys/module/rpm_resources/enable_low_power/pxo 1
    write /sys/module/rpm_resources/enable_low_power/vdd_dig 1
    write /sys/module/rpm_resources/enable_low_power/vdd_mem 1
    write /sys/module/pm_8x60/modes/cpu0/retention/idle_enabled 1
    write /sys/module/pm_8x60/modes/cpu1/retention/idle_enabled 1
    write /sys/module/pm_8x60/modes/cpu0/power_collapse/suspend_enabled 1
    write /sys/module/pm_8x60/modes/cpu1/power_collapse/suspend_enabled 1
    write /sys/module/pm_8x60/modes/cpu0/standalone_power_collapse/suspend_enabled 1
    write /sys/module/pm_8x60/modes/cpu1/standalone_power_collapse/suspend_enabled 1
    write /sys/module/pm_8x60/modes/cpu0/standalone_power_collapse/idle_enabled 1
    write /sys/module/pm_8x60/modes/cpu1/standalone_power_collapse/idle_enabled 1
    write /sys/module/pm_8x60/modes/cpu0/power_collapse/idle_enabled 1

    write /sys/module/msm_thermal/core_control/enabled 0

    write /sys/devices/system/cpu/cpu1/online 1

    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor ondemand
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor ondemand

    write /sys/devices/system/cpu/cpufreq/ondemand/sampling_rate 50000
    write /sys/devices/system/cpu/cpufreq/ondemand/up_threshold 90
    write /sys/devices/system/cpu/cpufreq/ondemand/io_is_busy 1
    write /sys/devices/system/cpu/cpufreq/ondemand/sampling_down_factor 4
    write /sys/devices/system/cpu/cpufreq/ondemand/down_differential 10
    write /sys/devices/system/cpu/cpufreq/ondemand/up_threshold_multi_core 70
    write /sys/devices/system/cpu/cpufreq/ondemand/down_differential_multi_core 3
    write /sys/devices/system/cpu/cpufreq/ondemand/optimal_freq 918000
    write /sys/devices/system/cpu/cpufreq/ondemand/sync_freq 1026000
    write /sys/devices/system/cpu/cpufreq/ondemand/up_threshold_any_cpu_load 80
    chown system /sys/devices/system/cpu/cpufreq/ondemand/sampling_rate
    chown system /sys/devices/system/cpu/cpufreq/ondemand/sampling_down_factor
    chown system /sys/devices/system/cpu/cpufreq/ondemand/io_is_busy

    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 384000
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq 384000
    chown system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chown system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chown system /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq
    chown system /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq

    write /sys/module/msm_thermal/core_control/enabled 1

    chown root system /sys/devices/system/cpu/mfreq
    chmod 220 /sys/devices/system/cpu/mfreq
    chown root system /sys/devices/system/cpu/cpu1/online
    chmod 664 /sys/devices/system/cpu/cpu1/online

    # set DCVS parameters for CPU
    write /sys/module/msm_dcvs/cores/cpu0/slack_time_max_us 40000
    write /sys/module/msm_dcvs/cores/cpu0/slack_time_min_us 40000
    write /sys/module/msm_dcvs/cores/cpu0/em_win_size_min_us 100000
    write /sys/module/msm_dcvs/cores/cpu0/em_win_size_max_us 500000
    write /sys/module/msm_dcvs/cores/cpu0/slack_mode_dynamic 0
    write /sys/module/msm_dcvs/cores/cpu0/disable_pc_threshold 1000000
    write /sys/module/msm_dcvs/cores/cpu1/slack_time_max_us 25000
    write /sys/module/msm_dcvs/cores/cpu1/slack_time_min_us 25000
    write /sys/module/msm_dcvs/cores/cpu1/em_win_size_min_us 100000
    write /sys/module/msm_dcvs/cores/cpu1/em_win_size_max_us 500000
    write /sys/module/msm_dcvs/cores/cpu1/slack_mode_dynamic 0
    write /sys/module/msm_dcvs/cores/cpu1/disable_pc_threshold 1000000

    # set DCVS parameters for GPU
    write /sys/module/msm_dcvs/cores/gpu0/slack_time_max_us 20000
    write /sys/module/msm_dcvs/cores/gpu0/slack_time_min_us 20000
    write /sys/module/msm_dcvs/cores/gpu0/slack_mode_dynamic 0

    # set msm_mpdecision parameters
    write /sys/module/msm_mpdecision/slack_time_max_us 45000
    write /sys/module/msm_mpdecision/slack_time_min_us 15000
    write /sys/module/msm_mpdecision/em_win_size_min_us 100000
    write /sys/module/msm_mpdecision/em_win_size_max_us 1000000
    write /sys/module/msm_mpdecision/online_util_pct_min 3
    write /sys/module/msm_mpdecision/online_util_pct_max 25
    write /sys/module/msm_mpdecision/em_max_util_pct 97
    write /sys/module/msm_mpdecision/rq_avg_poll_ms 2
    write /sys/module/msm_mpdecision/mp_em_rounding_point_min 10
    write /sys/module/msm_mpdecision/mp_em_rounding_point_max 85
    write /sys/module/msm_mpdecision/iowait_threshold_pct 50

    # set permissions for the nodes needed by display on/off hook
    chown system /sys/module/msm_dcvs/cores/cpu0/slack_time_max_us
    chown system /sys/module/msm_dcvs/cores/cpu0/slack_time_min_us
    chown system /sys/module/msm_mpdecision/slack_time_max_us
    chown system /sys/module/msm_mpdecision/slack_time_min_us
    chmod 664 /sys/module/msm_dcvs/cores/cpu0/slack_time_max_us
    chmod 664 /sys/module/msm_dcvs/cores/cpu0/slack_time_min_us
    chmod 664 /sys/module/msm_mpdecision/slack_time_max_us
    chmod 664 /sys/module/msm_mpdecision/slack_time_min_us

on charger
    write /sys/module/msm_fb/parameters/align_buffer 0
    write /sys/module/rpm_resources/enable_low_power/L2_cache 1
    write /sys/module/rpm_resources/enable_low_power/pxo 1
    write /sys/module/rpm_resources/enable_low_power/vdd_dig 1
    write /sys/module/rpm_resources/enable_low_power/vdd_mem 1
    write /sys/module/pm_8x60/modes/cpu0/retention/idle_enabled 1
    write /sys/module/pm_8x60/modes/cpu1/retention/idle_enabled 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "powersave"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor "powersave"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 384000
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq 384000
    write /sys/devices/system/cpu/cpu1/online 0

on class_start:late_start
    trigger enable-low-power

on property:init.svc.recovery=running
    trigger enable-low-power

# CM Performance Profiles

# Powersave
on property:sys.perf.profile=0
    start mpdecision
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "conservative"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor "conservative"
    write /sys/class/kgsl/kgsl-3d0/pwrscale/trustzone/governor "ondemand"

# Balanced
on property:sys.perf.profile=1
    start mpdecision
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "ondemand"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor "ondemand"
    write /sys/devices/system/cpu/cpufreq/ondemand/sampling_rate 50000
    write /sys/devices/system/cpu/cpufreq/ondemand/up_threshold 90
    write /sys/devices/system/cpu/cpufreq/ondemand/io_is_busy 1
    write /sys/devices/system/cpu/cpufreq/ondemand/sampling_down_factor 4
    write /sys/devices/system/cpu/cpufreq/ondemand/down_differential 10
    write /sys/devices/system/cpu/cpufreq/ondemand/up_threshold_multi_core 70
    write /sys/devices/system/cpu/cpufreq/ondemand/down_differential_multi_core 3
    write /sys/devices/system/cpu/cpufreq/ondemand/optimal_freq 918000
    write /sys/devices/system/cpu/cpufreq/ondemand/sync_freq 1026000
    write /sys/devices/system/cpu/cpufreq/ondemand/up_threshold_any_cpu_load 80
    write /sys/class/kgsl/kgsl-3d0/pwrscale/trustzone/governor "ondemand"

# Performance
on property:sys.perf.profile=2
    stop mpdecision
    write /sys/devices/system/cpu/cpu0/online 1
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "performance"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor "performance"
    write /sys/class/kgsl/kgsl-3d0/pwrscale/trustzone/governor "performance"

